{% extends '../base.html' %}
{% load static %}

{% block bodyblock%}
<div class="divbackground widediv">
  <div class="center">
    <div class="largeText whiteText centerText">
        E-mail sent
    </div>
    <div class="alert alert-info">
      <a class="close" href="#" data-dismiss="alert">×</a>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
      <br/>
    </div>
    <div class="alert alert-info">
      <a class="close" href="#" data-dismiss="alert">×</a>
      If you don't receive an email, please make sure you've entered the address you registered with,
      and check your spam folder.
    </div>
    <hr/>
    <button type="submit" class="btn btn-primary btn-block p-1"  onclick="location.href='{% url 'login'%}'">Back to login</button>
</div>

</div>
{%endblock%}