{% extends '../base.html' %}
{% load static %}

{% block bodyblock%}
<div class="divbackground widediv">
    <div class="largeText whiteText centerText">
        Reset password
    </div>
	{% if validlink %}
		{% for cur in form %}
			{% for err in cur.errors %}
				<div class="alert alert-danger">
					<a class="close" href="#" data-dismiss="alert">×</a>
					{{ err }}
					</div>
			{% endfor %}
		{% endfor %}
		<form method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="inputPassword2">New password</label>
				<input name="new_password1" id="inputPassword2" class="form-control" placeholder="Enter password" type="password" required="true">
			</div>
			<div class="form-group">
				<label for="inputPassword3">Confirm password</label>
				<input name="new_password2" id="inputPassword3" class="form-control" placeholder="Confirm password" type="password" required="true">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Confirm</button>
			</div>
		</form>
	{% else %}
	<p>The link supplied is invalid. If you copied and pasted the link please try again and make sure you copy the whole link.</p>
	{% endif %}
</div>

{%endblock%}