{% extends '../base.html' %}
{% load static %}

{% block bodyblock%}
<div class="divbackground widediv">
    <div class="center">
        <div class="largeText whiteText centerText">
            Success
        </div>
        <div class="alert alert-success">
          <a class="close" href="#" data-dismiss="alert"></a>
          You have successfully changed your password.
          <br/>
        </div>
    
    </div>
    <hr/>
    <button type="submit" class="btn btn-primary btn-block p-1"  onclick="location.href='{% url 'login'%}'">Back to login</button>

    </div>
</div>
{%endblock%}