{% extends 'baseuser.html' %}
{% load static %}

{% block body%}
<div class="largeText whiteText centerText">
    All actions for report with ID: {{action_id}}
</div>
<div class="margin" id = "action_display">
<form>
    {% for action in actions %}
    {% if action.is_completed %}
        <div class="row">
            <div class="form-check form-check-inline">
                <input class="form-check-input actioninput" type="checkbox" checked=checked disabled = disabled>
                <label class="form-check-label">{{action.title}}</label>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="form-check form-check-inline">
                <input class="form-check-input actioninput" type="checkbox" disabled= disabled>
                <label class="form-check-label">{{action.title}}</label>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</form>
</div>

<div class="largeText whiteText centerText">
    <button id = "show" class="btn-profile" onclick="showDiv()">Update Progress</button>
</div>

<div id = "update" style="display: none;">
    <div class="largeText whiteText centerText">
        Update Progress
    </div>
    <form class="center" method = "POST">
        {% csrf_token %}
        {% for action in actions %}
        {% if action.is_completed %}
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input actioninput" id="task_list" name="task_list" type="checkbox" checked=checked value="{{action.id}}">
                    <label class="form-check-label" >{{action.title}}</label>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input actioninput" id="task_list" name="task_list" type="checkbox" value="{{action.id}}">
                    <label class="form-check-label" >{{action.title}}</label>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    <div class="row">
        <div class="col">
            <button class = "btn btn-danger" id ="cancelP" style = "display: none;" onclick=cancel()>Cancel Update</button>
        </div>
        <div class="col">
            <button type="submit" id = "save" style = "display: none;" class="btn btn-info ">Save Change</button><br><br>
        </div>
    </div>
    </form>
</div>


<script>
function showDiv(){
    document.getElementById('update').style.display = "block";
    document.getElementById('action_display').style.display = "none";
    document.getElementById('cancelP').style.display = "block";
    document.getElementById('show').style.display = "none";
    document.getElementById('save').style.display = "block";
}
function cancel(){
    window.location.reload();
}
</script>
</div>
{%endblock%}