{% extends 'generic_list.html' %}
{% load static %}

{% block heading %}
<h1>Admin Inputs</h1>
{% endblock %}

{% block empty_list_message %}
<h3 class="text-center">
    No admin inputs found
</h3>
{% endblock %}

{% block buttons %}
    <a class="btn btn-secondary mb-2" href="{% url 'dropdown_admin_input_create' %}">Create Dropdown Field</a>
    <a class="btn btn-secondary mb-2" href="{% url 'checkbox_admin_input_create' %}">Create Checkbox Field</a>
    <a class="btn btn-secondary mb-2" href="{% url 'text_admin_input_create' %}">Create Text Field</a>
    <a class="btn btn-secondary mb-2" href="{% url 'textarea_admin_input_create' %}">Create TextArea Field</a>
{% endblock %}