{% extends 'base.html' %}
{% load static %}

{% block bodyblock%}
<div class="row">
    <div class="col-lg-4">
        <div class="divbackground">
            <div class="largeText whiteText centerText">
                My Profile
            </div>
            <img src="{% static 'images/user.png' %}" alt="Vilosky" class="centerImg">
            <div class="row bottomborder center centerText">
                <div class="col">
                    Name
                </div>
                <div class="col">
                    {{user.first_name}}
                </div>
            </div>
            <div class="row bottomborder center centerText">
                <div class="col">
                    D.O.B
                </div>
                <div class="col">
                    {{user.userprofile.date_of_birth}}
                    
                </div>
            </div>
            <div class="row bottomborder center centerText">
                <div class="col">
                    Company
                </div>
                <div class="col">
                    {{user.userprofile.company}}
                </div>
            </div>
            <div class="row bottomborder center centerText">
                <div class="col">
                    Employmet Sector
                </div>
                <div class="col">
                    {{user.userprofile.employment_sector}}
                </div>
            </div>
            <div class="row bottomborder center centerText">
                <div class="col">
                    Employment Status
                </div>
                <div class="col">
                    {{user.userprofile.employment_status}}
                </div>
            </div>
            <div class="row bottomborder center centerText">
                <div class="col">
                    Time In Industry
                </div>
                <div class="col">
                    {{user.userprofile.time_in_industry}}
                </div>
            </div>
            <div class="row center centerText">
                <div class="col">
                    Qualifications:
                </div>
                <div class="col"></div>
                {% for q in qualifications %}
                    {{q.level}}
                    {{q.subjects}}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="divbackground">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>>
{%endblock%}