{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
{% endblock %}

{% block bodyblock%}
<div class="row">
    <div class="col-lg-4">
        <div class="divbackground py-2">
            <div class="largeText whiteText centerText">
                Profile
            </div>
            <img src="{% static 'images/user.png' %}" alt="Vilosky" class="centerImg">
            <h3 class="centerText mb-2">
                    {{user.first_name}} {{user.last_name}}
            </h3>
            <div class="text-center">
                <table class="table table-borderless table-centralised">
                  <tbody>
                    <tr>
                      <th>Date of birth:</th>
                      <td>{{user.user_profile.date_of_birth}}</td>
                    </tr>
                    <tr>
                      <th>Company:</th>
                      <td>{{user.user_profile.company}}</td>
                    </tr>
                    <tr>
                        <th>Employment Sector:</th>
                        <td>{{user.user_profile.employment_sector}}</td>
                      </tr>
                      <tr>
                        <th>Employment Status:</th>
                        <td>{{user.user_profile.employment_status}}</td>
                      </tr>
                      <tr>
                        <th>Time In Industry:</th>
                        <td>{{user.user_profile.time_worked_in_industry}}</td>
                      </tr>

                  </tbody>
                </table>
              </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="divbackground">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
{%endblock%}
{% block script %}
{% endblock %}