{% extends 'baseuser.html' %}
{% load static %}
{% block bodyblock %}

<div class="divbackground widediv">
    <div class="mediumText whiteText centerText">
        Create Paragraph
    </div>
    <form class="center" action="" method="POST">
        {% csrf_token %}
        <div class="field form-group">
            {{ newParaForm.static_text.label_tag }}            
            {{ newParaForm.static_text }}            
        </div>
        <div class="field form-group">
            <h4>Links</h4>
            {{ linkformset.as_p}}          
        </div>
        <div class="field form-group">
            <h4>Actions</h4>
            {{ actionformset.as_p }}
        </div>
        <p></p>
        <div class="field">
            <h4>Keywords</h4>
            <p>Please enter keys and corresponding score for the paragraph.</p>
            <p>Enter up to 5 keys. If you wish to add more this can be done on the edit paragraph page.</p>
            {% for form in keywordformset %}
                <div class='form-group'>
                    {{form.key.label_tag}}
                    {{form.key}}
                    {{form.score.label_tag}}
                    {{form.score}}
                </div>
            {% endfor %}
        </div>
        <hr/>
        <input type="submit" name="submit" class="btn btn-primary btn-block p-1"/>
    </form>
</div>
{% endblock %}