{% extends 'baseuser.html' %}
{% load static %}

{% block body%}
<h2><div class=" whiteText centerText">
    Dashboard
</div></h2>
<br>
{% if actions %}
<h4><div class="whiteText centerText">
   Action Plan
</div></h4>
<div class = "centerText">
<h7>Started {{ report.datetime_created }}</h7>
</div>
<br>

<div>
    <ol>
        {% for a in actions %}
        {% if a.is_completed %}
        <li style="line-height: 30px;">{{ a.title }} <b>&#10004;</b> </li>
        {% else %}
        <li style="line-height: 30px;">{{ a.title }}</li>
        {% endif %}
        {% endfor %}
    </ol>
</div>
<a href="{% url 'actions' %}" class="btn btn-primary btn-block p-1">View Action Plans</a>
<br><br>
{% endif %}

{% if report %}
<h4>
    <div class="whiteText centerText">
    Most Recent Report 
    </div>
</h4>

<div class = "centerText">
<h7>Created {{ report.datetime_created }}</h7>
</div>
<br>
<div id = "report">
        {% for key,values in data.items %}
        
            {{ key.static_text }}
            <ul>
                {% for list in values %}
                    {% for item in list %}
                        <li>
                                {% if item.title == null %}
                                <a href='{{ item.url }}' target="_blank">{{ item.url }}</a>
                                {% endif %}
                                {% if item.url == null %}
                                    {{item.title}}
                                {% endif %}
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endfor %}
        <hr/>
        <a href="{% url 'reports' %}" class="btn btn-primary btn-block p-1 p-1">View Older Reports</a>
    
</div>
{% else %}
<h3>
<div class="whiteText centerText">
    <hr/>
    You don't have any reports or action plans to view right now, click below to create a report.
    <hr/>
    <a href="{% url 'report_create' %}" class="btn btn-primary btn-block p-1" >New Report</a>
</div>
</h3>
{% endif %}
{%endblock%}
