{% extends 'baseuser.html' %}
{% load static %}

{% block body%}
<h2><div class=" whiteText centerText">
    {{user.first_name}}'s Dashboard
</div></h2>

<br>

{% if actions %}
<h4><div class="whiteText centerText">
    Current Action Plan
</div></h4>

<div id = "action plan">
    {% for a in actions %}
   <p> {{ a.title }}</p>
    {% endfor %}
</div>
{% endif %}

{% if report %}
<h4><div class="whiteText centerText">
    Most Recent Report
</div></h4>

<div id = "report">
        {% for key,values in data.items %}
        
            {{ key.static_text }}
            <ul>
                {% for list in values %}
                    {% for item in list %}
                        <li>
                                {% if item.title == null %}
                                <a href='{{ item.url }}' target="_blank">{{ item.url }}</a>
                                {% endif %}
                                {% if item.url == null %}
                                    {{item.title}}
                                {% endif %}
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        
        {% endfor %}
    
</div>
{% else %}
<h3>
<div class="whiteText centerText">
    You don't have any reports or action plans to view right now, click below to create a report.
    <a href="{% url 'reports' %}" class="btn btn-primary btn-block btn-small center">New Report</a>
</div>
</h3>
{% endif %}
<div>
    <button type="button" class="btn btn-primary btn-block btn-small center">11/10/2020</button>
    <button type="button" class="btn btn-primary btn-block btn-small center">10/08/2020</button>
    <button type="button" class="btn btn-primary btn-block btn-small center">07/09/2019</button>
</div>
{%endblock%}