{% extends 'baseuser.html' %}
{% load static %}

{% block body%}
<div class="largeText whiteText centerText">
    MyActions
</div>
<div class="margin">
Week 1
<form>
    <div class="row">            
        {% for i in next_few_week_actions %}
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">{{i.title}}</label>
        </div>
        {% endfor %}
    </div>

</form>
Months 1+
<form>
    <div class="row">            
        {% for i in oneplusmonths_actions %}
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">{{i.title}}</label>
        </div>
        {% endfor %}
    </div> 
</form>
6 Months
<form>
    <div class="row">            
        {% for i in sixmonths_actions %}
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">{{i.title}}</label>
        </div>
        {% endfor %}
    </div> 
</form>
7 Months
<form>
    <div class="row">            
        {% for i in sevenmonths_actions %}
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">{{i.title}}</label>
        </div>
        {% endfor %}
    </div> 
</form>
</div>
{%endblock%}