{% extends 'baseuser.html' %}
{% load static %}

{% block body%}
<div class="largeText whiteText centerText">
    MyActions
</div>
<div class="margin">
Week 1
<form>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">Do this first</label>
        </div>
    </div>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">Do this second</label>
        </div>
    </div>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">Do this third</label>
        </div>
    </div>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">Do this fourth</label>
        </div>
    </div>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">Do this fifth</label>
        </div>
    </div>
    
</form>
Week 2+
<form>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">Do this first</label>
        </div>
    </div>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">Do this second</label>
        </div>
    </div>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">Do this third</label>
        </div>
    </div>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">Do this fourth</label>
        </div>
    </div>
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input actioninput" type="checkbox" id="action1" value="option1">
            <label class="form-check-label" for="action1">Do this fifth</label>
        </div>
    </div>
    
</form>
</div>
{%endblock%}