{% extends 'baseuser.html' %}
{% load static %}

{% block body%}
    <div class="largeText whiteText centerText">
        MyDetails
    </div>
    <form class="center">
        {% csrf_token %} 

        {{ user_form.as_p }}
        <div class="col">
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-block">Save details</button>
            </div>
        </div>
         {% if questions %}
         {% for question in questions %}

         <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ question.label }}

                    {% if question.input_type == 'DROPDOWN' %}
                    <select class="form-control form-control-lg">
                        {% for options in question.choices %}
                        <option>option</option>
                        {% endfor %}
                      </select>
                    {% endif %}

                    {% if question.input_type == 'TEXT' %}
                    <input name="username" type="text" class="form-control"required>
                    {% endif %}
                    
                    {% if question.input_type == 'CHECKBOX' %}
                    <br>
                    <div class="form-check form-check-inline">
                        <input type ="checkbox", id="true", name="true", value="Yes">
    
                    </div>
                    {% endif %}

                    {% if question.input_type == 'TEXTAREA' %}
                    <input name="username" type="text" class="form-control"required>
                    {% endif %}
                </div>
            </div>
        </div>

         {% endfor %}
         {% endif %}
    </form>
{%endblock%}