{% extends 'baseuser.html' %}
{% load static %}

{% block body%}
    <div class="largeText whiteText centerText">
        My Qualifications
    </div>

    {% for q in qualifications %}
    <div class="row bottomborder center centerText">
        <div class="col">
            {{q.level}}
        </div>
        <div class="col">
            {{q.subjects}}
        </div>
    </div>
    {% endfor %}

    <br>

    <div class="row center  centerText">   
        <form class="center" method = "POST" action="{% url 'mydetails' %}">
            {% csrf_token %} 
           
            <div class = "form-group row" >
                <div class = "col">
                    {{ q_form.level }} 
                    {{ q_form.subjects}} 
                </div>
                <div class = "col">
                    <button type="submit" name = "addquals" class="btn btn-primary" >+</button>
                </div>
            </div>
        </form>
    </div> 
 
   
    
    <div class="largeText whiteText centerText">
        <button id = "show" class="btn btn-primary" onclick="showDiv()">Update My Profile</button>
    </div>

    <div id = "update" style="display: none;">
        <div class="largeText whiteText centerText">
            Update My Profile
        </div>
    <div class="row center centerText">
    <form class="center" method = "POST" action="{% url 'mydetails' %}">
        {% csrf_token %} 

        <div class="form-group">
            <p>Date of Birth: </p> {{ p_form.date_of_birth}}
            
        </div>
        <div class="form-group">
            <p>Company: </p> {{ p_form.company}}
            
        </div>
        <div class="form-group">
            <p>Employment Status: </p> {{ p_form.employment_status}}
            
        </div>
        <div class="form-group">
            <p>Empoyment Sector: </p> {{ p_form.employment_sector}}
            
        </div>
        <div class="form-group">
            <p>Time Worked In Sector: </p>{{ p_form.time_worked_in_industry}}
            
        </div>

       
        <div class="form-group">
            <div class = "col">
                <button type="submit" class="btn btn-primary ">Save Details</button><br><br>
            </div>  
        </div>
        <div class = "bottomleft">
        <button id = "cancel" class="btn btn-primary " onclick=cancel()>Cancel</button>
        </div>
    </form>
    </div>
   

<script>        
function showDiv() {
    document.getElementById('update').style.display = "block";
    document.getElementById('cancel').style.display = "block";
    document.getElementById('show').style.display = "none";
}

function cancel() {
    window.location.reload();
}
</script>
{%endblock%}

