{% extends 'baseuser.html' %}
{% load static %}

{% block body%}
<div id = "quals">
    <span class="d-flex justify-content-between">
        <a id="edit" onclick=editQuals() class="btn">Edit</a>
        <a id="show" class="btn" onclick="showDiv()">Update Profile</a>
        <a style = "display: none;" id="cancel" onclick=cancel() class="btn"> <i class='fas fa-angle-left align-middle' style='font-size:16px'></i> Cancel</a>
    </span>
    <div class="mediumText whiteText centerText">
        Qualifications
    </div>

    <div id = "staticQ">
        <table class="table table-centralised">
            <thead>
                <th>Level</th>
                <th>Subject</th>
            </thead>
            <tbody>
                {% for q in qualifications %}
                        <tr>
                            <td>{{q.level}}</td>
                            <td>{{q.subjects}}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id = "editquals">
        <div class = "mediumText centerText" >
            Add Qualifications
        </div>

        <form class="center" method = "POST" action="{% url 'mydetails' %}">
            {% csrf_token %} 
            <div class="form-group">
                {{ q_form.level.label }} 
                {{ q_form.level }} 
            </div>
            <div class="form-group">
                {{ q_form.subjects.label }} 
                {{ q_form.subjects}}
            </div>
            <hr/>
            <button type="submit" name="addquals" class="btn btn-primary btn-block p-1">Add</button>
        </form>
    </div>

    <div class = "center centerText" id = "dynamic" style ="display: none;">
        <form method = "POST">
            <table class = "center">
                <thead>
                    <th>Level</th>
                    <th>Subject</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {% csrf_token %} 
                    {% for q in qualifications %}
                        <tr>
                            <td>{{q.level}}</td>
                            <td> {{q.subjects}}</td>
                            <td><input type = "checkbox" name = "delete_list" value = "{{q.id}}"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr/>
            <button type="submit" class = "btn btn-primary btn-block p-1" name = "delete_qualifications">Delete Selected</button>
        </form>
    </div>
</div>
    
<div id = "update" style="display: none;">

    <span class="d-flex justify-content-between">
        <a id="cancelP" class="btn" onclick=cancel() style = "display: none;"> <i class='fas fa-angle-left align-middle' style='font-size:16px'></i> Cancel</a>
    </span>

    <div class="mediumText whiteText centerText">
        Update Profile
    </div>

    <div class="px-4">
        <form class="center" method = "POST" action="{% url 'mydetails' %}">
            {% csrf_token %} 

            <div class="form-group">
                {{ p_form.date_of_birth.label}} <br/>
                {{ p_form.date_of_birth}}
            </div>
            
            <div class="form-group">
                {{ p_form.company.label}}
                {{ p_form.company}}
            </div>

            <div class="form-group">
                {{ p_form.employment_status.label}}
                {{ p_form.employment_status}}
            </div>

            <div class="form-group">
                {{ p_form.employment_sector.label}}
                {{ p_form.employment_sector}}
            </div>

            <div class="form-group">
                {{ p_form.time_worked_in_industry.label}}
                {{ p_form.time_worked_in_industry}}
            </div>

            <hr/>
            <button type="submit" class="btn btn-primary btn-block p-1">Save Details</button>
    
        </form>
    </div>
</div>

<script>        
function showDiv() {
    document.getElementById('update').style.display = "block";
    document.getElementById('cancelP').style.display = "block";
    document.getElementById('show').style.display = "none";
    document.getElementById('quals').style.display = "none";
}

function cancel() {
    window.location.reload();
}

function editQuals(){
    document.getElementById('dynamic').style.display = "block";
    document.getElementById('cancel').style.display = "block";
    document.getElementById('edit').style.display = "none";
    document.getElementById('show').style.display = "none";
    document.getElementById('editquals').style.display = "none";
    document.getElementById('staticQ').style.display = "none";
}
</script>
{%endblock%}

