{% extends 'base.html' %}
{% load static %}

{% block bodyblock%}
<div class="divbackground widediv">
    <div class="largeText whiteText centerText">
        Edit outputs
    </div>
    <div class="mediumText whiteText centerText">Links</div>
    <!--add pagination later on when relevant-->
    <div class="row centerText">
        <div class="col">
            <a href="#">applepies.com</a>
        </div>
        <div class="col">
            <a href="#">browniesaregood.co.uk</a>
        </div>
        <div class="col">
            <a href="#">becomeachef.org</a>
        </div>
    </div>
    <div class="mediumText whiteText centerText">Report paragraph</div>
    <!--add pagination later on when relevant-->
    <div class="row centerText margin">
        <a href="#">Having been out of work is tough</a>
    </div>
    <div class="row centerText margin">
        <a href="#">Finding a new job in HR will require</a>
    </div>
    <div class="row centerText margin">
        <a href="#">Going to university at 35 is still an excellent idea</a>
    </div>
    <div class="row centerText margin">
        <a href="#">There is support available for people working with disabilities</a>
    </div>
    <div class="row centerText margin">
        <a href="#">Having to work 40 hours and do overtime is tough</a>
    </div>
    <div class="mediumText whiteText centerText">Actions</div>
    <form class="center">
        <div class="form-group">
            Query week:
            <select class="form-control form-control-lg">
                <option>Week 1</option>
                <option>Week 2</option>
                <option>Week 3</option>
                <option>Month 1</option>
                <option>Month 3</option>
                <option>Month 6</option>
                <option>Month 10+</option>
              </select>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block">Query</button>
        </div>
    </form>
    Results for Week 1:
    <!--add pagination later on when relevant-->
    <div class="row centerText margin">
        <a href="#">Go on LinkedIn and review your connections</a>
    </div>
    <div class="row centerText margin">
        <a href="#">Take a break and relax before moving on</a>
    </div>
    <div class="row centerText margin">
        <a href="#">List your amazing skills and values</a>
    </div>
</div>
{%endblock%}