{% extends 'base.html' %}
{% load static %}

{% block bodyblock%}
<div class="divbackground widediv">
    <h1>Paragraph with ID: {{paragraph_id}}</h1>
    <div>
        Text: 
        <p>{{ para.static_text }}</p>
        
        {% for l in links %}
    <p>{{ l.url }}</p>
        {% endfor %}

        {% for k in keywords %}
        <p>{{ k.key }} {{ k.score }}</p>
        {% endfor %}

        {% for a in actions %}
        <p>{{ a.title }}</p>
        {% endfor %}
    </div>
    <div class="center">
        <form  method = "POST">
            {% csrf_token %}
            <button type="submit" class = "btn-delete" >Delete</button>
        </form>
    </div>
</div>
{%endblock%}