{% extends 'base.html' %}
{% load static %}

{% block bodyblock%}
<div class="divbackground widediv">
    <div class="largeText whiteText centerText">
    <h1>Paragraph {{paragraph_id}}</h1>
    </div>
    <div id = "view" class = "centerText">
        <p>Created By: {{ created_by.user }}</p>
        Text
        <button style= "float: right;" onclick=editText()>Edit</button>
        <table class = "paratable">
            <tbody>
                <tr>
                    <td>
                        {{ para.static_text }}
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        {% if links %}
        Links
        <button style= "float: right;" onclick=editLinks()>Edit</button>
        <table class = "paratable">
            <thead>
                <th>ID</th>
                <th>URL</th>
            </thead>
            <tbody>
                {% for l in links %}
                <tr>
                <td>{{ l.id }}</td> 
                <td>{{ l.url }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
 
        <br>
        {% if keywords %}
        Keywords
        <button style= "float: right;" onclick=editKeys()>Edit</button>
        <table class = "paratable">
        <thead>
            <th>Word</th>
            <th>Score</th>
        </thead>
        <tbody>
            {% for k in keywords %}
            <tr>
            <td>{{ k.key }}</td>
            <td>{{ k.score }}</td> 
        </tr>
        {% endfor %}
        </tbody>
    </table>
        {% endif %}
       
    <br>
        {% if actions %}
        Actions
        <button style= "float: right;" onclick=editActions()>Edit</button>
        <table class="paratable">
            <thead>
                <th>ID</th>
                <th>Text</th>
            </thead>
            <tbody>
                {% for a in actions %}
                <tr>
                    <td>
                        {{ a.id }}
                    </td>
                    <td>
                        {{ a.title }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <br>
        <div class="center">
            <form  method = "POST">
            {% csrf_token %}
            <button type="submit" class = "btn-delete" >Delete</button>
            </form>
        </div>
    </div>

    
    <div id="editText" style="display: none;">
        <form method = "POST">
            {% csrf_token %}
            <p> Paragraph
            {{ p_form.as_p}}</p>
            <button type="submit" name="editText" class = "btn-delete" >Done</button>
        </form>
    </div>

    <div id="editLinks" style="display: none;">
        <form method = "POST">
            {% csrf_token %}
            <p> Links
            {{ l_form.as_p}}</p>
            <button type="submit" name="editLinks" class = "btn-delete" >Done</button>
        </form>
    </div>

    <div id="editKeys" style="display: none;">
        <form method = "POST">
            {% csrf_token %}
            <p> Keywords
            {{ k_form.as_p}}</p>
            <button type="submit" name="editKeys" class = "btn-delete" >Done</button>
        </form>
    </div>

    <div id="editActions" style="display: none;">
        <form method = "POST">
            {% csrf_token %}
            <p> Actions
            {{ a_form.as_p}}</p>
            <button type="submit" name="editActions" class = "btn-delete" >Done</button>
        </form>
    </div>
</div>

<script>
    function editText(){
        document.getElementById('editText').style.display = "block";
        document.getElementById('view').style.display = "none";
    }

    function editLinks(){
        document.getElementById('editLinks').style.display = "block";
        document.getElementById('view').style.display = "none";
    }

    function editKeys(){
        document.getElementById('editKeys').style.display = "block";
        document.getElementById('view').style.display = "none";
    }

    function editActions(){
        document.getElementById('editActions').style.display = "block";
        document.getElementById('view').style.display = "none";
    }
</script>
{%endblock%}