{% extends 'base.html' %}
{% load static %}

{% block bodyblock%}
<div class="divbackground widediv">
    <div class="largeText whiteText centerText">
        Register
    </div>
	{% if registered%}
		<div>
			Thanks for registering! <br>
			You will be redirected in 3s, if it doesn't automatically redirect you then click <a href="{% url 'login' %}">here</a>
			<script> window.setTimeout(function () { location.href = "{% url 'login' %}"; }, 3000); </script>
		</div>
	{% else %}
		<form class="center" id="user_form" method='post' action="{% url 'register' %}">
			{% csrf_token %}
			{% if user_form.errors %}
				{% for field in user_form %}
					{% for error in field.errors %}
								<div class="alert alert-danger">
									<a class="close" href="#" data-dismiss="alert">×</a>
							{{ error|escape }}
								</div>
					{% endfor %}
				{% endfor %}
			{% endif %}
			<div class="form-group">
				<p>E-mail:</p>
				{{ user_form.email }}
			</div>
			<div class="form-group">
				<p>Password:</p>
				{{ user_form.password }}
			</div>
			<div class="form-group">
				<p>Password again:</p>
				{{ user_form.confirm_password }}
			</div>
			<div class="form-check">
				<input type="checkbox" name="tos" class="form-check-input" id="tos" required>
			<label class="form-check-label" for="tos"> Have you read and accepted the <a href="#" target="_blank"><b>T&C</b></a> and <a href="#" target="_blank"><b>Privacy Policy</b></a>? </label>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Register</button>
			</div>
		</form>
	{% endif %}
</div>
{%endblock%}