{% extends 'baseuser.html' %}
{% load static %}

{% block body%}
<div>
    <h2 class="centerText">Report {{report_id|safe}}</h2>
    <div class = "centerText">
        <h7>Created {{ datetime }}</h7>
    </div><br/>
        {% for key,values in data.items %}
    
        {{ key.static_text }}
        <ul>
            {% for list in values %}
                {% for item in list %}
                    <li>
                            {% if item.title == null %}
                            <a href='{{ item.url }}' target="_blank">{{ item.url }}</a>
                            {% endif %}
                            {% if item.url == null %}
                                {{item.title}}
                            {% endif %}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    
        {% endfor %}
    <hr/>
    <button type="submit" class="btn btn-primary btn-block p-1" onclick="location.href='{% url 'create_pdf' report_id %}'">Download as pdf</button>
</div>
{%endblock%}