{% extends 'baseuser.html' %}
{% load static %}

{% block body%}
<div>
    <div class="largeText whiteText centerText">
        Report
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-8">
            <p><p>  Hi Gemma, it&rsquo;s great to meet you.  We hope you find the following advice useful.</p>

            <p> Having been out of work for 3-5years now it is understandable that your confidence would be low, but you have all the skills and experience you need to re-establish your career. As you are interested in a Risk Management role in Banking &amp; Finance, we think the following networks would be very useful for you:</p>
            
            <p> Women in Banking &amp; Finance - https://www.wibf.org.uk</p>
            
            <p> Women Returners - https://womenreturners.com</p>
            
            <p> The following template might also help plan your childcare and carer responsibilities when you are back at work:</p>
            
            <p> Time planner.pdf/xls (what hours do you want to work. What other commitments will you have. What support network is around you to help with childcare etc.)</p>
            
            <p> As you are looking for flexibility and a shorter working week (20hrs), we suggest the following job search sites:   Timewise - https://timewise.co.uk/   2to3days - https://www.2to3days.com/</p>
            
            <p> The following organisations are also well known for supporting flexible working and women returners so it is well worth checking their individual career pages too:</p>
            
            <p> &#8230;</p>
            
            <p> To support ongoing career progression and to help with challenges such as learning new skills, regaining confidence and adapting to workplace cultures, we are strong advocates of creating a support network. We would like to offer you a free coaching session or put you in touch with one of our associate coaches/mentors so please send us a note if you would like to discuss that further - info@vilosky.com.   We would now like you to consider the following action plan. To get you back into your next role there are a few key steps you can take.</p>
            
            <p> Next few weeks:</p>
            
            <p> Decide what you want from your next role</p>
            
            <p> List all your amazing skills and experience, as well as your values</p>
            
            <p> Focus on areas where you do not feel confident, using some of these resources to help:</p>
            
            <p> Interview skills</p>
            
            <p> She&rsquo;s Back etc</p>
            
            <p> 1+ months:</p>


            <p> Go for a coffee with someone related to the field you&rsquo;re interested in</p>
            
            <p> Attend a few familiar, friendly networking events and/or webinars</p>
            
            <p> Start compiling a list of interesting employers and vacancies</p>
            
            <p> Update your CV (refer to Helen for CV service)</p>
            
            <p> Start your search</p>
            
            <p> 6 months:</p>
            
            <p> If the ideal role has not yet appeared, give yourself a few week&rsquo;s break. It&rsquo;s hard work, full of ups and downs, but the right role will turn up. The following might help you at this point:</p>
            
            <p> Articles about job hunting</p>
            
            <p> 7 months:</p>
            
            <p> Back to it again.</p>
            
            <p> We hope that gives you enough to get going for now but please check back to give us an update and hopefully we can continue to support you as your career proceeds.  </p></p>
        </div>
        <div class="col-lg-3 col-md-4 leftborder">
            <div class="linktext">Useful links</div>
            <a class="worklink" href="https://www.wibf.org.uk" target="_blank">Women in Banking</a><br/>
            <a class="worklink" href="https://womenreturners.com" target="_blank">Women Returners</a><br/>
            <a class="worklink" href="https://timewise.co.uk/" target="_blank">Timewise</a><br/>
            <a class="worklink" href="https://www.2to3days.com/" target="_blank">2to3days</a><br/>
            
        </div>
    </div>
</div>
{%endblock%}