{% extends 'base.html' %}
{% load static %}

{% block bodyblock%}
<div class="divbackground widediv">
    <div class="largeText whiteText centerText">
        Create Report
    </div>

    <form id="inputForm" class="p-4 mx-2" method="POST" action="{% url 'report_create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% if inputForm.errors %}
            <div class="alert alert-danger">
                {{ inputForm.errors }}
            </div>
        {% endif %}
        {% if inputForm.non_field_errors %}
            <div class="alert alert-danger">
                {{ inputForm.errors }}
            </div>
        {% endif %}
        {% for field in inputForm %}
            <div class="form-group">
                {{ field.label_tag }} 
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
       <hr/>
       <input type="submit" name="submit" class="btn btn-primary btn-block p-1" />
</form>
</div>
{%endblock%}