body {
    background-image: url("../images/bg.jpg");
    background-size: 100%;
    background-color: rgb(107, 71, 141);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    background-color: rgba(130, 130, 130, 0.7) !important;
    backdrop-filter: blur(20px) !important;
}

.divbackground{
  background-color: rgba(130, 130, 130, 0.7) !important;
  backdrop-filter: blur(20px) !important;
}

.widediv{
  margin: auto;
  min-width: 50%;
  max-width: 900px;
  min-height: 600px;
}

.divAppear{
  transform: translatey(0px);
  animation: float 1s ease-in-out 1;
}

@keyframes float{
  0% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
.navbar-nav li a{
    font-size: 50px;
    font-family: Roboto;
    font-weight: normal !important;
    color: white !important;
}
.navbar-fixed-left {
    
    width: 250px;
    position: fixed;
    border-radius: 0;
    height: 100%;
  }
  
  .navbar-fixed-left .navbar-nav > li {
    float: none;
    width: 250px;
  }
  
  .navbar-fixed-left + .container {
    padding-left: 160px;
  }
  
  /*Div options*/
  .center {
    margin: auto;
    width: 50%;
  }

  /*Text options*/
  .largeText{
    font-size: 50px;
  }
  .whiteText{
    color: white;
  }

  .centerText{
    text-align: center;
  }
  /*Button formats*/
  /*Primary positive button*/
  .btn-primary {      
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 80px;
    font-weight: bold;
    border: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: button-fadeout;
    animation-name: button-fadeout;

  }
  .btn-primary:hover{
    -webkit-animation-duration: 1s;
    animation-duration: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: button-fadein;
    animation-name: button-fadein;
  }

  @-webkit-keyframes button-fadein {
    0% {background-color: rgba(155,81,224,0.8)}
    100% {background-color: rgba(155,81,224,1.0)}
  }
      
  @keyframes button-fadein{
    0% {background-color: rgba(155,81,224,0.8)}
    100% {background-color: rgba(155,81,224,1.0)}
  }

  @-webkit-keyframes button-fadeout {
    0% {background-color: rgba(155,81,224,1.0)}
    100% {background-color: rgba(155,81,224,0.8)}
  }
      
  @keyframes button-fadeout{
    0% {background-color: rgba(155,81,224,1.0)}
    100% {background-color: rgba(155,81,224,0.8)}
  }