body {
    background-image: url("../images/bg.jpg");
    background-size: 100%;
    background-color: rgb(107, 71, 141);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    background-color: rgba(130, 130, 130, 0.7) !important;
    backdrop-filter: blur(20px) !important;
}

.navbar-nav li a{
    font-size: 50px;
    font-family: Roboto;
    font-weight: normal !important;
    color: white !important;
}
.navbar-fixed-left {
    
    width: 250px;
    position: fixed;
    border-radius: 0;
    height: 100%;
  }
  
  .navbar-fixed-left .navbar-nav > li {
    float: none;
    width: 250px;
  }
  
  .navbar-fixed-left + .container {
    padding-left: 160px;
  }
  